#stationInput{
    display: flex;
    position:absolute;
    overflow: visible;
    width: 25%;
    height: 5%;
    left: 33%;
    top: 20%;
    font-size: x-large;
    border-style: solid;
    border-color: rgb(44, 104, 93);
}

#searchBtn{
    display: flex;
    position: absolute;
		overflow: visible;
		width: 5%;
		height: 5%;
		left: 60%;
		top: 20.2%;
        border-style: solid;
        border-color: rgb(44, 104, 93);
}

#dataDisplay{
    position: absolute;
    overflow: visible;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 30%;
    border-style: solid;
    border-color: rgb(44, 104, 93);
    background-color: white;
}